body {
    margin: 0;
    font-family: system-ui;
}

.parallax{
    background-image: url('https://wallpapercave.com/wp/wp1866271.jpg');
    height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    padding: 50px;
    font-variant: small-caps;
    font-size: 100px;
    font-family: fantasy;
    letter-spacing: 20px;
}

.page-title img{
    height: 80px;
}

.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
    color: rgb(247, 244, 101);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    
}
.col-2 h2{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
    color: rgb(113, 223, 54);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.menu{
    background: #839c47;
    text-align: right;
}

.menu-ul{
    margin: 0;
    padding: 0;
    display: inline;
}

.menu-ul li{
    font-size: 20px;
    list-style: none;
    display: inline-block;
    padding: 25px 25px 26px 26px;
}

.a-menu, .a-links{
    text-decoration: none;
    color: white;
}

.menu-ul li:hover{
    background: #5b8c5a;
    transform: scale(1.1);
}

.search-box{
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin: 8px;
}

.search-box:hover{
    box-shadow: 0 0 10px 2x #5b8c5a;
    border: 1px solid #5b8c5a;
}

.search-input{
    width: 250px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 15px 0 0 10px;
}

i {
    font-size: 20px;
    margin: 0 10 0 0; 
}

button{
    background: transparent;
    border: none;
    outline: none;
}
/*---homepage begins-------*/
.container{
    margin: 50px 50px 50px 5%;
    width: 90%;
    text-align: center;
}

.categories, .items{
    width: max-content;
    margin: 25px;
    border: 1px solid #184d47;
    display: inline-block;
}

.categories:hover, .items:hover{
    box-shadow: 0 0 10px 3px #184d47;
}

.item-image{
    height: 200px;
    width: 200px;
    border-radius: 50px 50px 50px 50px;
    padding: 10px;
}

.image-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.title{
    padding: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    color:rgb(156, 60, 60);
    background: #131212;
    }
.rating{
    color: rgb(226, 19, 19);
}
/*---all products---*/
.title-2{
    padding: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    color:rgb(156, 60, 60);
    }
/*---footer---*/

.footer{
    background:rgba(0, 0, 0, 0.5);
    text-align:center;
    padding:20px;
}

.quick-links{
    color:white;
    font-size:20px;
    font-weight:bold;
    display:inline-block;
    min-width:30%;
}

.quick-links ul{
    padding:o;
}

.quick-links li{
    list-style:none;
    padding:10px;
    font-weight:300;
}

.a-links:hover{
    color:#fd5e53
}

.copyrights{
    font-size:15px;
    font-family:verdana,arial,helvecita,sans-serif;
    text-align:center;
    margin:15px;
    background: rgb(55, 61, 53);
    font-weight: bold;
}

.error {
    color: #a94442; 
}

.success {
    color: #3c763d; 
  }
